@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

:root {
  --clr-soft-orange: hsl(35, 77%, 62%);
  --clr-soft-red: hsl(5, 85%, 63%);
  --clr-off-white: hsl(36, 100%, 99%);
  --clr-grayish-blue: hsl(233, 8%, 79%);
  --clr-dark-grayish-blue: hsl(236, 13%, 42%);
  --clr-very-dark-blue: hsl(240, 100%, 5%);
  --fw-low: 400;
  --fw-medium: 700;
  --fw-high: 800;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 2;
  background-color: var(--clr-off-white);
}
li {
  cursor: pointer;
}
p {
  font-size: 15px;
}

img {
  display: block;
  max-width: 100%;
}

.app-layout {
  margin: 1rem 1rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header > * {
  flex: 1;
}

.logo {
  min-width: 5rem;
}

.header-items-list {
  color: var(--clr-dark-grayish-blue);
  list-style: none;
  display: none;
}

.grid {
  margin-block: 2rem;
  display: grid;
  gap: 1.2rem;
}

.grid-img {
  margin-inline: auto;
}
.grid-future {
  font-weight: var(--fw-high);
  font-size: 2.25rem;
  line-height: 1;
}

.grid-btn-content {
  color: var(--clr-dark-grayish-blue);
}
.grid-btn-content > p {
  font-size: 1rem;
}

.grid-btn-content > button {
  color: var(--clr-off-white);
  outline: none;
  border: none;
  font-size: 1.2rem;
  margin-top: 1.5rem;
  padding: 1rem 2rem;
  cursor: pointer;
  background-color: var(--clr-soft-red);
}

.grid-btn-content > button:hover {
  background-color: var(--clr-very-dark-blue);
}
.grid-new {
  margin-top: 1rem;
  padding: 1rem;
  background-color: var(--clr-very-dark-blue);
  color: white;
  padding-inline: 1.5rem;
}

.grid-new > h2 {
  color: var(--clr-soft-orange);
  font-size: 2.5rem;
}
.grid-new > div > div > p {
  color: var(--clr-grayish-blue);
  font-size: 1rem;
}
.grid-new > div > div > h3 {
  font-size: 1.5rem;
}
.grid-new > div > div > h3:hover {
  color: var(--clr-soft-orange);
  cursor: pointer;
}
.grid-new-items {
  display: grid;
  gap: 1rem;
}

.top-bottom-border {
  border-block: 2px solid var(--clr-dark-grayish-blue);
  margin-block: 1rem;
  padding-block: 1.5rem;
}

.hamburger--icon {
  width: 2.5rem;
}
.hamburger--icon > img {
  margin-left: auto;
}

.flex {
  display: flex;
  gap: 1.5rem;
}
.flex > * {
  flex: 1;
}
.flex > img {
  width: 5rem;
  padding-block: 1rem;
}
.number-heading {
  font-size: 2rem;
  font-weight: var(--fw-high);
  color: var(--clr-grayish-blue);
}
.para {
  font-weight: var(--fw-low);
  color: var(--clr-dark-grayish-blue);
}

.flex > div > h4 {
  font-weight: var(--fw-high);
  font-size: 1.2rem;
}

.flex > div > h4:hover {
  color: var(--clr-soft-red);
  cursor: pointer;
}

.menu-modal {
  position: absolute;
  top: 0;
  right: 0;
  min-height: 100vh;
  background-color: var(--clr-off-white);
  width: 60%;
  padding: 1rem;
  padding-top: 2rem;
  z-index: 3;
}

.menu-modal > ul {
  padding-top: 2rem;
  list-style-type: none;
  display: grid;
  gap: 1rem;
  font-weight: var(--fw-medium);
}

.close-icon > img {
  margin-left: auto;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

@media screen and (min-width: 60em) {
  .hamburger--icon {
    display: none;
  }
  .header-items-list {
    display: flex;
    justify-content: end;
    gap: 2rem;
  }
  .app-layout {
    margin-top: 2rem;
    margin-inline: 15rem;
  }
  .grid {
    margin-block: 2rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-img {
    grid-column: span 2;
  }

  .grid-future {
    padding-block: 1rem;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .grid-future > h1 {
    max-width: 20rem;
  }

  .grid-btn-content {
    color: var(--clr-dark-grayish-blue);
  }
  .grid-btn-content > p {
    padding-top: 1.5rem;
    font-size: 1rem;
  }

  .grid-btn-content > button {
    color: var(--clr-off-white);
    outline: none;
    border: none;
    font-size: 1.2rem;
    margin-top: 1.5rem;
    padding: 1rem 2rem;
    cursor: pointer;
    background-color: var(--clr-soft-red);
  }

  .grid-new {
    margin-top: 0;
    padding: 1rem;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: var(--clr-very-dark-blue);
    color: white;
    padding-inline: 1.5rem;
  }

  .grid-new > h2 {
    color: var(--clr-soft-orange);
    font-size: 2.5rem;
  }
  .grid-new > div > div > p {
    color: var(--clr-grayish-blue);
    font-size: 1rem;
  }
  .grid-new > div > div > h3 {
    font-size: 1.5rem;
  }
  .grid-new-items {
    display: grid;
    gap: 1rem;
  }

  .flex {
    display: flex;
    gap: 1.5rem;
  }
  .flex > img {
    max-width: 4rem;
    padding-block: 1rem;
  }
  .number-heading {
    font-size: 2rem;
    font-weight: var(--fw-high);
    color: var(--clr-grayish-blue);
  }
  .para {
    font-weight: var(--fw-low);
    color: var(--clr-dark-grayish-blue);
  }

  .flex > div > h4 {
    font-weight: var(--fw-high);
    font-size: 1.2rem;
  }
}
