:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --clr-soft-orange: hsl(35, 77%, 62%);
  --clr-soft-red: hsl(5, 85%, 63%);
  --clr-off-white: hsl(36, 100%, 99%);
  --clr-grayish-blue: hsl(233, 8%, 79%);
  --clr-dark-grayish-blue: hsl(236, 13%, 42%);
  --clr-very-dark-blue: hsl(240, 100%, 5%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  font-size: 15px;
}

img {
  display: block;
  max-width: 100%;
}

.app-layout {
  margin: 15rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header > * {
  flex: 1;
}

.logo {
  min-width: 5rem;
}

.header ul {
  list-style: none;
  display: flex;
  justify-content: end;
  gap: 2rem;
}
.grid {
  margin-block: 2rem;
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 60em) {
  .grid {
    margin-block: 2rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-img {
    grid-column: span 2;
  }

  .grid-new {
    padding: 1rem;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: var(--clr-very-dark-blue);
    color: white;
  }

  .grid-new > h2 {
    color: var(--clr-soft-orange);
  }
  .grid-new > div > p {
    color: var(--clr-grayish-blue);
  }
  .grid-new-items {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
  }
  .top-bottom-border {
    border-block: 2px solid var(--clr-dark-grayish-blue);
    margin-block: 1rem;
    padding-block: 0.5rem;
  }

  .flex {
    display: flex;
    gap: 1rem;
    /* grid-template-columns: repeat(2, 1fr); */
  }
  .flex > img {
    max-width: 5rem;
  }
  .flex > div {
    padding: 1rem;
  }
}
